 <h1>Wikis</h1>
 <div class="row">
   <div class="col-md-8">

     <% @wikis.each do |wiki| %>
      <% if user_is_authorized_to_view_wiki?(wiki) %>
       <div class="media">
         <div class="media-body">
           <h4 class="media-heading">
             <%= link_to wiki.title, wiki %>  
             <% if wiki.private %>[PRIVATE]<% end %>
           </h4>
           <small>
             <%= wiki.body %>
           </small>
         </div>
       </div>
     <% end %>
    <% end %>
   </div>
     
     <div class="col-md-4">
       <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
     </div>

  </div>
 </div>