<h2>Are you sure you want to cancel your Premium Membership?</h2>
 <%= link_to "Cancel Premium Membership", @charge, method: :cancel, class: 'btn btn-danger', data: { confirm: 'Your Private wikis will become Public' } %>

